.tool-template {
  width: 100%;
  background: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 rgba(112, 112, 112, 0.2);
  padding: 16px 24px;
  margin-bottom: 25px;
  position: relative;
}
.tool-template-header {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 25px;
  display: flex;
}
.tool-template-header-time {
  display: inline-flex;
  align-items: flex-end;
  margin-left: 25px;
}
.tool-template-header-time-title {
  color: #b7bbcb;
  font-size: 8px;
  letter-spacing: 0.4px;
}
.tool-template-header-time-hours {
  margin-left: 8px;
  color: #ffc000;
  font-size: 14px;
}
.tool-template-body {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}
.tool-template-body-desc {
  flex-basis: 400px;
  margin-right: 60px;
  font-size: 14px;
  color: #5b5b5b;
}
.tool-template-body-opt {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.tool-template-body-opt-item {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.tool-template-body-opt-item-title {
  font-size: 10px;
  color: #b7bbcb;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.tool-template-body-opt-item-value {
  font-size: 16px;
  line-height: 1.5;
  color: #5b5b5b;
}
.tool-template-body-opt-item:last-of-type {
  margin-bottom: 0;
}
.tool-template-devices-title {
  letter-spacing: 0.5px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #b7bbcb;
  text-transform: uppercase;
}
.tool-template-devices-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}
.tool-template-devices-item {
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 10px;
  font-weight: bold;
  margin-right: 8px;
  margin-top: 8px;
  text-transform: uppercase;
  padding: 12px 16px;
  background: #b7bbcb;
  border-radius: 3px;
}
.tool-template-setting {
  position: absolute;
  right: 16px;
  top: 24px;
}
