.login-title {
  color: #ffc000;
  text-transform: uppercase;
  margin-bottom: 90px;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 5px;
}
.login-message {
  width: 588px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login-message-title {
  color: #ffc000;
  font-size: 32px;
  font-weight: bold;
}
.login-message-title-error {
  color: #e00000;
}
.login-message-desc {
  color: #000 6;
  font-size: 21px;
  width: 80%;
}
.login-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 620px;
  padding: 80px 60px;
  border-radius: 20px;
  background: #f9fafe;
  box-shadow: 0 8px 20px 0 rgba(112, 112, 112, 0.15);
}
.login-form .login-form-input.form-field {
  margin: 0 0 40px;
  width: 100%;
}
.login-form-input .form-field-input {
  max-width: initial;
}
.login-form-btn {
  width: 100%;
  margin-bottom: 24px;
  height: 40px;
}
.login-form-forgot {
  width: 100%;
  text-align: right;
}
.login-form .form-field-input {
  padding: 12px 16px;
}
