.tool {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.tool-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 910px;
}
.tool-panel {
  margin: 0 auto 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
}
.tool-panel-btn {
  position: absolute;
  right: 37px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  font-size: 10px;
  letter-spacing: 0.5px;
  color: #fff;
  padding: 9px 15px;
  background: #b7bbcb;
  border: none;
  text-transform: uppercase;
}
