.input-container {
  position: relative;
}
.input-container .ico {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-container > .ico-before {
  left: 8px;
}
.input-container > .ico-after {
  right: 8px;
}
.ico-before + .form-field-input {
  padding-left: 39px;
}

.form-field-input {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #b7bbcb;
  border-radius: 4px;
  padding: 9px 10px;
  line-height: 20px;
  box-sizing: border-box;
}
.form-field-input::placeholder {
  font-size: 12px;
  color: #b7bbcb;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.input-container.--small .form-field-input {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 24px;
}
.input-container.--blue .form-field-input::placeholder {
  color: #4a90e2;
}
.input-container.--blue .form-field-input {
  border-color: #4a90e2;
}
