.tools-list {
  margin: 0 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.tool__item {
  margin: 5px 8px 5px 0;
}
.tool__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.tool__label {
  padding: 4px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-radius: 2px;
  font-size: 12px;
  background: #fff;
  color: #b7bbcb;
  font-weight: 700;
  height: 40px;
  cursor: pointer;
}
.tool__ico {
  margin: 0 -11px 0 15px;
  display: flex;
  min-width: 32px;
  height: 32px;
  background: #222;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #fff;
}
.tool__input:checked + .tool__label {
  border-color: #1ab14f;
  color: #222;
}
.tool__input:checked + .tool__label .tool__ico {
  background: #1ab14f;
}
.tool__input:disabled + .tool__label {
  cursor: default !important;
}
