.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  height: 60px;
  z-index: 100;
}
.header-nav {
  justify-content: space-between;
}
.header-nav-menu,
.header-nav-user,
.header-nav-search {
  display: inline-flex;
  justify-content: space-between;
  color: #fff 80;
}
.header-nav-menu > *:not(:last-of-type),
.header-nav-user > *:not(:last-of-type),
.header-nav-search > *:not(:last-of-type) {
  padding-right: 22px;
}
.header-nav-menu {
  margin: 0 92px;
}
.header-nav-menu-item {
  color: #919191;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: 12px;
}
.header-nav-menu-item + .header-nav-menu-item {
  margin-left: 40px;
}
.header-nav-menu-item__active {
  color: #fff;
}
.header-nav-menu-item__active svg,
.header-nav-menu-item__active path {
  stroke: #fff;
  fill: #fff;
}
.header-nav-menu-item svg {
  margin-right: 10px;
}
.header-nav-user-item {
  display: flex;
  position: relative;
  cursor: pointer;
}
.header-nav-user-item:focus {
  outline: none;
}
.header-nav-user-item-userpic {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.header-nav-user-item-arrow {
  display: block;
  transform: rotate(90deg);
}
.header-nav-user-item-menu {
  background: #b7bbcb;
  position: absolute;
  top: calc(100%);
  right: 0;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0 8px 20px 0 rgba(112, 112, 112, 0.15);
  white-space: nowrap;
}
.header-nav-user-item-menu-nav {
  padding: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.header-title {
  color: #ffc000;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 5px;
}
.header-title__white {
  color: #fff;
}

.page-title {
  padding: 32px 0;
  width: 100%;
  text-align: center;
  color: #b7bbcb;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  position: relative;
}
.page-breadcrumbs {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
  color: #222;
  letter-spacing: 0.5px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}
.page-breadcrumbs a {
  text-decoration: underline;
}
.page-breadcrumbs > * {
  display: inline-block;
  vertical-align: middle;
}
.page-breadcrumbs .ico-back {
  margin-right: 4px;
}
