.switch {
  display: inline-flex;
  border-radius: 22px;
  background-color: #ebedf3;
  padding: 5px;
}
.switch-item {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #b7bbcb;
  padding: 5px 40px;
  transition: all 0.25s linear;
  cursor: pointer;
}
.switch-item:hover {
  opacity: 0.85;
}
.switch-item__active {
  border-radius: 17px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  background-color: #fff;
  animation: setBG 0.25s linear forwards;
}
@keyframes setBG {
  from {
    background-color: #ebedf3;
  }
  to {
    background-color: #fff;
  }
}
