.table-footer {
  padding: 40px 5px 0;
}
.table-footer,
.table-footer__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.table-footer__item:first-child,
.table-footer__item:last-child {
  width: 115px;
}

.table-footer .select {
  margin-left: 14px;
  width: 70px;
}
.current-page,
.pagination__btn {
  margin: 0 9px;
  display: inline-block;
  font-size: 14px;
}
.pagination__btn:not(.disabled) {
  cursor: pointer;
}
.pagination .disabled {
  color: #b7bbcb;
}
.current-page {
  padding: 0 10px;
  min-width: 45px;
  color: #ffc000;
  border: 2px solid;
  border-radius: 2px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
}
