.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
}
.modal-container.--dark {
  background: rgba(0, 0, 0, 0.7);
}
.modal-container .modal-arrow {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  transform: translate(-50%, 0) rotate(45deg);
  z-index: 5001;
}
.modal-content {
  padding: 15px;
  position: absolute;
  min-width: 380px;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 24px 10px rgba(42, 42, 68, 0.2);
  color: #222;
}

.modal-content .modal-title {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 800;
}
.modal-content .modal-body__row {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 14px;
}
.modal-content .modal-body__row.flex-right {
  justify-content: flex-end;
}
.modal-content .modal-body__row:last-child {
  padding: 9px 0 0;
  margin-bottom: 0;
}
.modal-content .modal-body__row .full-width {
  width: 100%;
}
.modal-content .modal-body__cell {
  margin: 0 16px 0 0;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.modal-content .modal-body__cell:last-child {
  margin-right: 0;
}
.modal-content .modal-body .form-field-input {
  padding: 8px;
}
.modal-content .modal-body .cell__label {
  margin-right: 8px;
  white-space: nowrap;
  flex-shrink: 0;
  color: #89969f;
}
.modal-content .modal-body .cell__value {
  margin-left: 5px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}
