.form-field-textarea {
  width: 100%;
  border: 1px solid #b7bbcb;
  border-radius: 6px;
  padding: 14px;
  line-height: 1.2em;
  resize: vertical;
}
.form-field-textarea::placeholder {
  font-size: 12px;
  color: #b7bbcb;
  font-weight: bold;
  letter-spacing: 0.5px;
}
