button {
  cursor: pointer;
  border: none;
  transition: all 0.25s linear;
  text-align: center;
  border-radius: 4px;
  padding: 3px 14px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: bold;
  min-width: 100px;
}
button:disabled {
  background: #ebedf3;
  border-color: #ebedf3;
  color: #b7bbcb;
  cursor: not-allowed;
}
button:disabled:hover {
  opacity: 1;
}
button:focus {
  box-shadow: inset 0px 0px 20px 0 rgba(112, 112, 112, 0.2);
}
.btn {
  min-width: 100px;
  border: none;
  border-radius: 4px;
  background-color: #ffc000;
  transition: all 0.2s linear;
  cursor: pointer;
  color: #fff;
  padding: 3px 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid;
  border-radius: 3px;
}
.btn.btn-small {
  padding: 4px 15px;
  min-width: auto;
}
.btn__text {
  display: inline-block;
  vertical-align: middle;
}
.btn:focus {
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
}
.btn.--grey {
  background-color: #ebedf3;
  border-color: #ebedf3;
  color: #b7bbcb;
}
.btn.--darkgrey {
  background-color: #b7bbcb;
  border-color: #b7bbcb;
  color: #fff;
}
.btn.--white {
  background-color: #fff;
  border-color: #b7bbcb;
  color: #b7bbcb;
}
