.more {
  position: relative;
}
.more__ico {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-position: center center;
  background-size: 13px auto;
  position: relative;
}
.more__ico.--dark {
  background: url(../Icons/icons/more-dark.svg);
}
.more__ico.--lite {
  background: url(../Icons/icons/more.svg);
}

.more-menu {
  padding: 15px 12px;
  right: -12px;
  position: absolute;
  top: calc(100% + 3px);
  background: #b7bbcb;
  z-index: 10;
  box-shadow: 0 8px 20px 0 rgba(112, 112, 112, 0.15);
  border-radius: 2px;
  display: block;
  white-space: nowrap;
}
.more-menu:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  right: 19px;
  transform: rotate(-45deg);
  background: #b7bbcb;
}
.more-menu__back-sheet {
  position: fixed;
  background: transparent;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
}
.menu__item {
  position: relative;
  z-index: 10;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.item__text + * {
  margin-left: 14px;
}
