.space {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 910px;
  flex-direction: column;
}
.space .form-field {
  padding-right: 16px;
}
.space-title {
  color: #b7bbcb;
  line-height: 1.5;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 32px;
}
.space .container {
  margin-bottom: 16px;
  display: flex;
}
.space .container__multy {
  flex-direction: row;
}
.space .container__multy .form-field {
  min-width: 200px;
}
.space-actions {
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-end;
}
.space-actions .btn {
  margin-left: 25px;
}
.space-container {
  width: 100%;
  position: relative;
  padding: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.space-form-item {
  width: 100%;
}
.space-form-btn__icon {
  display: flex;
  align-items: center;
}
.space-form-btn__icon svg {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
