.tool-item {
  margin: 0 12px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 rgba(112, 112, 112, 0.2);
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
  overflow: hidden;
  width: calc(50% - 50px);
  max-width: 440px;
}
.tool-item-header {
  display: inline-flex;
  justify-content: space-between;
}
.tool-item-header-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #000;
}
.tool-item-header-time {
  display: flex;
  align-items: flex-end;
}
.tool-item-header-time-text {
  color: #b7bbcb;
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 0.4px;
  margin-right: 20px;
}
.tool-item-header-time-values {
  color: #ffc000;
  font-size: 14px;
  font-weight: bold;
}
.tool-item-table {
  margin-top: 16px;
  border-collapse: collapse;
}
.tool-item-table th,
.tool-item-table td {
  border: 1px solid #b7bbcb;
  padding: 6px 10px;
  font-weight: bold;
}
.tool-item-table th {
  color: #b7bbcb;
  text-transform: uppercase;
  font-size: 8px;
}
.tool-item-table td {
  color: #4a90e2;
  font-size: 12px;
}
.tool-item-table td:first-of-type {
  color: #3c3c3c;
}
.tool-item-info {
  margin: 16px 0;
  font-size: 14px;
  color: #5b5b5b;
}
.tool-item-setting {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}
.tool-item-setting:last-of-type {
  margin-bottom: 50px;
}
.tool-item-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  padding: 12px 0;
  color: #4a90e2;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.tool-item-button:hover {
  opacity: 0.8;
}
