.calendar {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 80px);
  width: 100%;
  align-items: stretch;
  position: relative;
}
.calendar-nav {
  width: 200px;
  background: #f8f8f8;
  flex-shrink: 0;
}
.calendar-nav-header {
  background: #4a4a4a;
  padding: 10px 40px 10px 30px;
  position: relative;
  cursor: pointer;
}
.calendar-nav-header-title {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
}
.calendar-nav__item .calendar-nav-header-spaces {
  font-size: 12px;
  line-height: 17px;
  color: #b7bbcb;
}
.calendar-nav-header > svg {
  display: block;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}
.calendar-nav-header.active {
  background: rgba(73, 73, 73, 0.8);
}
.calendar-nav-header.active > svg {
  transform: translateY(-50%) rotate(-90deg);
}
.calendar-nav-item {
  padding: 12px 32px;
  display: flex;
  flex-direction: column;
}
.calendar-nav-item-title {
  color: #222;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  margin: 15px 0;
  position: relative;
}
.calendar-nav-item .add-space {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: -24px;
  cursor: pointer;
  pointer-events: initial;
  transform: translateY(-50%);
  transition: all 0.2s linear;
}
.calendar-nav-item .add-space:hover {
  transform: translateY(-50%) rotate(90deg);
}
.calendar-nav-item-title g {
  fill: #ffc000;
}
.calendar-nav-item-el {
  font-size: 12px;
  line-height: 17px;
  color: #5b5b5b;
  padding: 8px 0;
  pointer-events: initial;
}
.calendar-container {
  width: 100%;
  padding: 20px;
}
.calendar-scheduler__title {
  color: #b7bbcb;
  font-weight: 700;
  font-size: 16px;
}
.calendar-scheduler {
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.calendar-scheduler-edit {
  display: flex;
  flex-direction: column;
}
.calendar-scheduler-edit-row {
  width: 100%;
  display: flex;
}
.calendar-scheduler-edit-row__actions {
  justify-content: flex-end;
}
.calendar-scheduler-edit-row-cell {
  width: 50%;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
}
.calendar-scheduler-edit-row-cell span {
  font-weight: 900;
}
.calendar-scheduler .scheduler {
  margin: 0;
}
.calendar-scheduler .scheduler table th.header3-text {
  color: #b7bbcb !important;
  font-weight: bold !important;
  min-width: 50px !important;
}
.calendar-scheduler .scheduler-bg-table td {
  min-width: 50px !important;
}
.calendar-scheduler .timeline-event > div {
  color: #fff !important;
}
.calendar-nav__item {
  color: #fff;
}
.calendar-nav__item + .calendar-nav__item {
  border-top: 1px solid rgba(73, 73, 73, 0.8);
}
.calendar-nav__item.link .calendar-nav-header {
  padding-right: 18px;
  font-size: 11px;
  cursor: default;
}
.calendar-nav__item.link a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-nav .more {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  z-index: 100;
  cursor: default;
}
.calendar-nav .more-menu {
  right: auto;
  left: -8px;
}
.calendar-nav .more-menu:before {
  right: auto;
  left: 15px;
}
.calendar-nav .menu__item {
  line-height: 14px;
  justify-content: flex-start;
}
.calendar-nav .menu__item + .menu__item {
  margin-top: 5px;
}
.timeline-event {
  top: 50% !important;
  transform: translateY(-50%);
  cursor: default !important;
}
.calendar-scheduler .event-item {
  padding: 0 8px !important;
  display: flex;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}
.event-item.event-space {
  height: 40px;
}
.event-item__text {
  overflow: hidden;
}
.header2-text .expander-space {
  display: none;
}
.resource-table .space-row .header2-text {
  font-weight: 700;
  white-space: normal;
  color: #222;
}
.resource-table .header2-text {
  padding: 0 5px;
  color: #b7bbcb;
}
.ant-col .header2-text {
  padding: 5px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebedf3;
  border-radius: 20px;
}
.ant-col .header2-text-label {
  margin: 0 10px;
  padding: 8px 10px;
  background: #fff;
  font-weight: 600;
  display: block;
  border-radius: 17px;
  line-height: 18px;
}
.ant-col .anticon {
  margin: 0 !important;
  display: flex !important;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
/* .ant-popover-arrow {
  border-top-color: #b7bbcb !important;
  border-left-color: #b7bbcb !important;
}
.ant-popover-inner {
  background: #b7bbcb !important;
} */

.scheduler .space-row {
  height: 56px !important;
}
.space-row > td {
  height: auto !important;
}
.scheduler-bg .space-row td {
  border-right-color: transparent;
  background: #ebedf3;
}
.calendar-scheduler .ant-row-flex-middle {
  margin-top: -44px;
  justify-content: flex-end;
}
.calendar-scheduler .ant-row-flex-middle .ant-col:last-child {
  display: none;
}

.modal-add-event {
  width: 380px;
}
.popover-content {
  color: #222;
  font-size: 12px;
}
.popover-content > * {
  display: block;
}
.popover-content > * + * {
  margin-top: 3px;
}
