.checkbox-container{
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	font-size: 0;
}
.checkbox {
	position: absolute;
  z-index: -1;
  opacity: 0;
  margin: auto;
}
.checkbox-label{
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 2px solid;
	border-radius: 2px;
	background: transparent;
	cursor: pointer;
	overflow: hidden;
}
.checkbox + .checkbox-label > *{
	display: none;
}
.checkbox.--grey + .checkbox-label{
	border-color: #b7bbcb;
}
.checkbox.--white + .checkbox-label{
	border-color: #fff;
}
.checkbox:checked + .checkbox-label > svg{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
