.working-time {
  padding: 9px 14px;
  width: 100%;
  background: #fff;
  border: 0.5px solid #383a69;
  border-radius: 4px;
  line-height: 20px;
  min-height: 40px;
}
.modal-wh {
  padding: 10px 25px 25px;
  min-width: 400px;
  box-sizing: content-box;
}
.modal-wh .modal-title {
  margin: 0 auto 40px;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
}
.modal-wh__header.wh__row {
  padding: 19px 0;
  font-weight: 600;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #979797;
  white-space: nowrap;
}
.modal-wh__header .wh__cell {
  padding: 0 15px;
}
.modal-wh__header,
.modal-wh__body {
  font-size: 12px;
}
.modal-wh__body {
  padding: 0 0 40px;
}
.modal-wh__body .wh__row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.wh__row {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.wh__row select {
  width: 100%;
}
.wh__cell {
  padding: 0 15px;
  width: 100%;
  box-sizing: content-box;
}
.wh__cell:last-child {
  min-width: 160px;
  box-sizing: border-box;
}

.wt-select {
  width: 130px;
  position: relative;
}
.wt-list {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 0;
  list-style: none;
  position: absolute;
  overflow-y: auto;
  top: 29px;
  background: #fff;
  z-index: 10;
}
.wt-item {
  margin: 0 0 -1px;
  display: flex;
  justify-content: space-between;
}
.wt-item:hover {
  background: #ebedf3;
  cursor: pointer;
}
.wt-item > span {
  display: block;
}
.wt-item__label {
  padding: 3px 2px;
  color: #b7bbcb;
}
.wt-item__ico {
  border: 1px solid #b7bbcb;
  font-size: 0;
  width: 35px;
}
.wt-item.selected .wt-item__ico {
  background: #d3ffe3;
}

.wt-input {
  padding: 8px 19px 8px 8px;
  line-height: 17px;
  min-height: 30px;
  border: 1px solid #b7bbcb;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wt-input__arrow {
  display: block;
  position: absolute;
  width: 10px;
  height: 5px;
  top: 14px;
  right: 5px;
  border: 5px solid transparent;
  border-top: 5px solid #5b5b5b;
}
.open .wt-input,
.open .wt-list {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.open .wt-list {
  max-height: 250px;
  border: 1px solid #b7bbcb;
  border-top: 0;
}
.open .wt-input__arrow {
  top: 8px;
  transform: rotate(-180deg);
}
