.profile-container {
  width: 100%;
  border-radius: 2px;
  background-color: #f8f8f8;
  padding: 24px;
  margin-bottom: 25px;
  display: flex;
}
.profile-pic {
  position: relative;
  overflow: hidden;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  transition: all 0.2s linear;
}
.profile-pic:hover {
  opacity: 0.75;
}
.profile-pic-photo {
  display: block;
  margin: 0;
  width: 100%;
  cursor: pointer;
}
.profile-pic-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.form-field + .form-field {
  margin-top: 25px;
}
.form-field + .form-field.half {
  margin-top: 0;
}
.profile-container.tools-block {
  display: block;
}
.tools-block .tools-list:last-child {
  margin: 0;
}
