.selected-list {
  margin: 0 0 8px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.selected__item {
  margin: 0 8px 8px 0;
  padding: 6px 0px 6px 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #5b5b5b;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  border-radius: 4px;
  overflow: hidden;
}
.select__item-ico {
  margin-left: 6px;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
