.newtemplate {
  width: 100%;
}
.newtemplate-form-item {
  width: 100%;
}
.newtemplate-form-time-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.newtemplate-form-time-item-title {
  flex-basis: 100%;
}
.newtemplate-form-time-item-input {
  width: calc(50% - 8px);
}
.newtemplate-form-input__multiselect {
  min-width: 200px;
}
.newtemplate-modes {
  margin: 25px 0;
}
.newtemplate-modes-item {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.newtemplate-modes-item:nth-of-type(odd) {
  width: calc(50% - 50px);
  padding-right: 50px;
}
.newtemplate-modes-item:nth-of-type(-n + 2) {
  margin-top: 20px;
  margin-bottom: 64px;
}
.newtemplate-modes-item:last-of-type {
  margin-bottom: 20px;
}
.newtemplate-modes-item-title {
  color: #5b5b5b;
}
.newtemplate-actions {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}
.newtemplate-actions .btn {
  margin-left: 25px;
}
