.setting {
  cursor: pointer;
  position: relative;
}
.setting-menu {
  background: #b7bbcb;
  position: absolute;
  top: 20px;
  right: 0;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0 8px 20px 0 rgba(112, 112, 112, 0.15);
  white-space: nowrap;
}
.setting-menu-item {
  padding: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  opacity: 1;
}
