.dnd-zone {
  margin: 0 auto 40px;
  text-align: center;
}
.dnd-title {
  margin: 0 auto 30px;
  font-size: 14px;
}
.dropFileField {
  padding: 35px;
  color: #b7bbcb;
  border: 2px dashed;
}
.dropFileField.hovered {
  background: #f8f8f8 !important;
}
.dropFileField.file-selected {
  background: #ebedf3;
}

.dropFileField .--blue {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #4a90e2;
}

.input-block {
  margin-bottom: 30px;
  padding: 25px;
  background: #f8f8f8;
  color: #b7bbcb;
}
.input-block .label {
  margin: 0 0 8px;
  display: inline-block;
  font-weight: 600;
  color: #5b5b5b;
}
.input-block input {
  max-width: 100%;
  color: #5b5b5b;
}
.form-field-warn {
  padding: 8px 0 0;
  display: block;
}
