.toggle {
  width: 48px;
  height: 22px;
  border-radius: 12px;
  background: #b7bbcb;
  padding: 2px;
  display: flex;
}
.toggle-item {
  content: '';
  width: 20px;
  height: 20px;
  transition: all 0.25s linear;
  cursor: pointer;
}
.toggle-item__active {
  border-radius: 17px;
  background-color: #fff;
  animation: setBG 0.25s linear forwards;
}
@keyframes setBG {
  from {
    background-color: #ebedf3;
  }
  to {
    background-color: #fff;
  }
}
.toggle-item:hover {
  opacity: 0.9;
}
