* {
  box-sizing: border-box;
}
input,
textarea,
button {
  outline: none;
}
body,
html {
  font-family: 'Open Sans', sans-serif;
}
.app {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: stretch;
}
.disabled {
  pointer-events: none;
}
.half {
  width: calc(50% - 25px);
  margin-bottom: 25px;
}
.heading,
.form-field-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #5b5b5b;
  margin-bottom: 8px;
  display: block;
}
.container {
  background: #f8f8f8;
  border-radius: 2px;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
}
a {
  transition: all 0.2s linear;
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  /* opacity: 0.85; */
}
a.link-yellow {
  color: #ffc000;
  font-size: 12px;
  text-decoration: underline;
  font-weight: bold;
}

.ico {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  font-size: 0;
  overflow: hidden;
  background-position: center center;
  background-size: 100% 100%;
}
.ico-before {
  margin: 0 8px 0 -8px;
}
.ico-after {
  margin: 0 -8px 0 8px;
}
.ico.--pencil {
  background-image: url('./components/Icons/icons/edit.svg');
}
.ico.--bin {
  background-image: url('./components/Icons/icons/delete.svg');
}
.ico.--search {
  background-image: url('./components/Icons/icons/search-icon.svg');
}
.ico.--plus {
  background-image: url('./components/Icons/icons/add-new-white.svg');
}

.controls {
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.controls.flex-right {
  justify-content: flex-end;
}
.controls__item {
  margin: 0 16px 0 0;
}
.controls__item:last-child {
  margin-right: 0;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.form-row + .form-row {
  margin-top: 25px;
}
.form-row .half {
  margin: 0;
}
.form-field.half {
  width: calc(50% - 25px);
}
.form-field {
  width: 100%;
}
