.page-container {
  padding: 0 32px;
  width: 100%;
}
.page-content {
  margin: 0 auto;
  padding: 0 1vw;
  max-width: 920px;
  color: #222;
  font-size: 12px;
}
.page-content__filter {
  padding: 0 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.filter__item {
  white-space: nowrap;
}
.filter__item .btn + .btn {
  margin-left: 16px;
}

.users .filter__item:last-child {
  width: 380px;
}

.th-item {
  background: #000;
  color: #b7bbcb;
  font-family: 'Open Sans', serif;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
}
.users .ReactTable .rt-table,
.users .ReactTable .rt-tbody {
  overflow: visible;
}
.users .ReactTable,
.users .ReactTable .rt-tbody .rt-td:last-child {
  border-width: 0;
  overflow: visible;
}
.users .ReactTable .td-options {
  height: 48px;
}
.users .ReactTable .rt-thead .rt-th,
.users .ReactTable .rt-tbody .rt-td {
  padding: 12px !important;
  border-right: 1px solid #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.users .ReactTable .rt-tbody .rt-tr-group {
  border-bottom: 1px solid #fff;
}
.rt-tr-group:nth-child(3n + 1) {
  background-color: rgba(255, 227, 141, 0.2);
}
.rt-tr-group:nth-child(3n + 2) {
  background-color: #f8f8f8;
}
